.menu_l {
	background:#1f3205;
	margin:10px 0;
	padding:0 10px;
	font-size:18px;
	border-radius:5px;
}
.menu_s {
	height:50px;
	color:#fff;
	background:#1f3205;
	box-shadow: 0 0 10px #99ce51;
	margin-right:10px;
	padding:5px;
	border-radius:5px;
}
a {
	text-decoration:none;
}